{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<body>
    <div class="header bg-primary ">
        <div class="container-fluid">
            <div class="header-body" style="padding-bottom: 1rem;">
                <div class=" row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <a class="h2 text-white d-inline-block mb-0" href="{{ url_for('admin_home') }}">Walter
                            Properties</a>

                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{{ url_for('admin_home') }}"><i
                                            class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{{ url_for('add_property') }}">Add Property</a>
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " style="margin-top: 5%;">
        <h1>Add Property</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                <div class="alert alert-success" id="flash-message">
                    <strong>{{ message }}</strong>
                </div>
                <script>
                    setTimeout(function () {
                        document.getElementById("flash-message").style.display = "none";
                    }, 2000);
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}
                </p>
            </div>
        </div>

        <div class="card-body">
            <form method="POST" action="/property-upload" enctype="multipart/form-data">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Choose Images: </label>
                            <input type="file" name="files[]" id="fileInput" class="form-control" multiple required>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="name">Property Name</label>
                                <input type="text" id="input-username" class="form-control" name="name" required
                                    >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="price">Price ($)</label>
                                <input type="text" id="input-email" class="form-control" name="price"
                                    oninput="formatNumber(this)">

                                <script>
                                    function formatNumber(input) {
                                        // Remove non-numeric characters
                                        const cleanedValue = input.value.replace(/[^\d]/g, '');

                                        // Format the value with commas
                                        const formattedValue = addCommas(cleanedValue);

                                        // Update the input field with the formatted value
                                        input.value = formattedValue;
                                    }

                                    function addCommas(value) {
                                        return Number(value).toLocaleString();
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="status">Status</label>
                                <select name="status" required>
                                    <option value="For Sale">For Sale</option>
                                    <option value="For Rent">For Rent</option>
                                </select><br>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="area">Area</label>
                                <input type="number" id="input-last-name" class="form-control" name="area" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="property_type">Property Type</label>
                                <input type="text" id="input-last-name" class="form-control" name="property_type" required>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Location information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="address">Address</label>
                                <input id="input-address" class="form-control" name="address" placeholder="Home Address"
                                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="map_view">Map</label>
                                <input id="map_view" class="form-control" name="map_view" placeholder="Google Map"
                                     type="text">
                            </div>
                        </div>
                    </div>
                   
                </div>

                <hr class="my-4" />
                <!-- Property Amenities -->
                <h6 class="heading-small text-muted mb-4">Property Amenities</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="bathroom">Bathroom</label>
                                <input id="input-address" class="form-control" type="number" name="bathroom" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="garage">Garage</label>
                                <input type="number" id="input-city" class="form-control" name="garage" required>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <div class="pl-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="property_description">Propery Description</label>
                        <textarea rows="4" class="form-control" name="property_description"
                            placeholder="Property Description..."></textarea>
                    </div>
                </div>
                <input type="submit" name="submit" class="btn btn-success" value="UPLOAD" />
            </form>
        </div>







    <script>
        $(document).ready(function () {
            // File type validation
            $("#fileInput").change(function () {
                var fileLength = this.files.length;
                var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
                var i;
                for (i = 0; i < fileLength; i++) {
                    var file = this.files[i];
                    var imagefile = file.type;
                    if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
                        alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                        $("#fileInput").val('');
                        return false;
                    }
                }
            });
        });
    </script>
</body>
{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="{{ url_for('static', filename='admin/static/assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/static/assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>


{% endblock javascripts %}


