{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative ">

  <div class="swiper-wrapper align-items-center">
    {% for property in properties_for_sale %}
    {% if property.id < 4 %} <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url('static/{{ images[property.id - 1]}}'); max-width: 100%; height: 76vh; ">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">{{ property.name }}
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b"> </span> {{ property.name }}
                    <br> {{ property.address }}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="{{ url_for('buy_property') }}"><span class="price-a">For Sale | £{{ property.price
                        }}</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  {% endif %}
  {% endfor %}



</div>
<div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-cart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Lifestyle</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Experience a lifestyle tailored to your desires with Walter Properties. Our expert team is dedicated to
                finding properties that match your unique preferences, whether you're seeking a serene countryside
                retreat or a vibrant urban oasis. From luxurious amenities to breathtaking views, we'll help you find
                the perfect property to complement your lifestyle and elevate your living experience.
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Rentals</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">Discover your ideal rental property with Walter Properties. Whether you're seeking a
                cozy apartment, a spacious family home, or a commercial space for your business, we offer a diverse
                selection of rental properties to suit every need and lifestyle. Our experienced team will guide you
                through the rental process, ensuring a seamless and stress-free experience from search to signing. Let
                us help you find the perfect place to call home. </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Property Acquisition</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Find your dream property with Walter Properties' comprehensive buying services. Whether you're a
                first-time buyer or a seasoned investor, our team will guide you through every step of the buying
                process. From identifying your preferences to negotiating the best deal, we'll provide personalized
                support and expert advice to help you find and acquire the perfect property. Let Walter Properties be
                your trusted partner in your property buying journey. </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Properties</h2>
            </div>
            <div class="title-link">
              <a href="{{ url_for('buy_property') }}">All Property
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="swiper">
        <div class="swiper-wrapper">
          {% for property, image_path in latest_properties.items() %}
          {% if property.id < 4%} <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{ url_for('static', filename=image_path) }}" alt="Property Image"
                  class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#">{{ property.name }}
                        <!-- <br /> Road {{ property.id }}</a> -->
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{ property.property_status }} | ${{ property.price }}</span>
                    </div>
                    <a href="{{ url_for('view_property', property_id=property.id) }}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{ property.area }}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>2</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{ property.bathroom }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>1</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div><!-- End carousel item -->
        {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Latest Properties Section -->

  <!-- ======= Agents Section ======= -->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Best Agents</h2>
            </div>
            <div class="title-link">
              <a href="#">All Agents
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="static/assets/img/noa.jpeg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#" class="link-two">Noah Albert
                      <!-- <br> Escala</a> -->
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  I combine deep market knowledge with genuine care — because I know buying or selling a home is one of life’s biggest moves. I’ll help you do it with clarity and confidence.

                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Email: </strong> noahalbertwalterproperties@gmail.com

                  </p>
                  <p>
                    <strong>Discord: </strong> @noahalbertsland
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="static/assets/img/ala.jpeg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#" class="link-two">Steven McGregor
                      <!-- <br> Darw</a> -->
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  I take pride in being more than just a realtor — I’m your partner in this journey. I listen, I advise, and I work hard to get you results that make you smile.                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Email: </strong> stevendiegowalterproperties@gmail.com
                  </p>
                  <p>
                    <strong>Discord: </strong> @stevendiego23                 
                   </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="static/assets/img/agent-3.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#" class="link-two">Luca Romano
                      <!-- <br> Cascada   {{ url_for('view_agent') }} </a> -->
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Real estate is more than a job for me — it’s a calling. I love turning big goals into smooth experiences, and I’ll always have your back through every step.                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Email: </strong> lucaromanowalterproperties@gmail.com
                  </p>
                  <p>
                    <strong>Discord: </strong> @lucaromano
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Agents Section -->

  <!-- ======= Latest News Section ======= -->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest News</h2>
            </div>
            <div class="title-link">
              <a href="#">All News
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="news-carousel" class="swiper">
        <div class="swiper-wrapper">

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="static/assets/img/post-2.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Rental</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="#">Rental Available
                        <!-- <br> new</a> -->
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">09 Feb. 2025</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="static/assets/img/post-5.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Property</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="#">New Condo Available
                        <!-- <br> new</a> -->
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Feb. 2025</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="static/assets/img/post-7.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Building</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="#">Residential Condo
                        <!-- <br> new</a> -->
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">09 Jan. 2035</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="static/assets/img/post-3.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Travel</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="#">Explore Serene Places
                        <!-- <br> new</a> -->
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Sep. 2024</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

        </div>
      </div>

      <div class="news-carousel-pagination carousel-pagination"></div>
    </div>
  </section><!-- End Latest News Section -->

  <!-- ======= Testimonials Section ======= -->
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Testimonials</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="testimonial-carousel" class="swiper">
        <div class="swiper-wrapper">

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img src="static/assets/img/testimonial-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-chat-quote-fill"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      The team at Walter Properties guided us through every step of the process with patience and
                      expertise, ensuring that all our questions were answered and our needs were met. The dedication to
                      service and attention to detail was evident in every interaction, and we truly felt like we were
                      part of a family. We are now proud homeowners, and it’s all thanks to the exceptional service
                      provided by Walter Properties. We highly recommend them to anyone looking to find their perfect
                      home.
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img src="static/assets/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Albert & Erika</h5>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img src="static/assets/img/testimonial-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-chat-quote-fill"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      We are overjoyed to share our experience with Walter Properties. From the moment we began our
                      search to the day we received the keys, the team was there for us every step of the way. Their
                      dedication and hard work made our dream of owning the perfect home a reality. We couldn’t be
                      happier with our new home and the service we received. Thank you, Walter Properties, for making
                      this milestone so special!
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img src="static/assets/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Chris & Emma</h5>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End carousel item -->

        </div>
      </div>
      <div class="testimonial-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Testimonials Section -->

</main><!-- End #main -->

{% endblock %}

{% set active_page = 'home' %}